@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>StockServer</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Step 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="js/shim.min.js"></script>
    <script src="js/zone.js"></script>
    <script src="js/Reflect.js"></script>
    <script src="js/system.src.js"></script>
    <!-- Step 2. Configure SystemJS -->
    <script src="systemjs.config.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUp3k1532dY4IYd-UvpGCsguX8zTFapVg" async defer></script>
    <script>
        System.import('app').catch(function(err){ console.error(err); });
    </script> 
</head>
<!-- Step 3. Display the application -->
<body>
    <!-- Application PlaceHolder -->
    <stockserver>Loading...</stockserver>
</body>
</html>